<div class="container">

<div class="p-3 mb-2 bg-info text-white text-center"><h1><%= @cocktail.name %></h1></div>

  <div class="shadow-sm p-3 mb-5 bg-white rounded">
    <h4>The recipe</h4>
    <div>
        <% @cocktail.doses.each do |dose| %>
          <p> <%= dose.ingredient.name %> </p>
          <p> <%= dose.description %> </p>
          <%= link_to "delete",dose_path(dose), method: :delete %>
        <% end %>
    </div>
  </div>

  <div class="shadow-sm p-3 mb-5 bg-white rounded">
  <%= render "doses/new", cocktail: @cocktail, dose: @dose %>
  </div>

  <button type="button" class="btn btn-info"><%= link_to 'Back to all cocktails', cocktails_path %></button>


</div>
